extends ../shared/template

block content
  h1= title

  if(message)
    .alert(style='color: red')
      p= message

  a(href='/profile') Go back to profile

  form(action='/connect/local', method='post')
    label Email
    input(type='email', name='email', autofocus=true)
    br
    label Password
    input(type='password', name='password')
    br
    button(type='submit') Connect Local
