extends ../shared/template

block content
  h1= title

  if(message)
    .alert(style='color: red')
      p= message

  form(action='/users/password', method='post')
    input(type='password', name='oldPassword', placeholder='current password')
    input(type='password', name='newPassword', placeholder='new password')
    button Submit
