extends ../shared/template

block content
  .home-container
    h1.logo Muse[collective]
    if(user)
      a(href='/logout')
        .col-md-5
        .col-md-2
          .logout-button-container
            button.action-button#logout-home-button Logout
        .col-md-5

    if(message)
      .alert(style='color: red')
        p= message

    if(!user)
      .container.login-container
        .col-md-12
          .well
            form(action='/login', method='post')
              .form-group
                input(type='email', name='email', placeholder='Email', autofocus=true)
                br
                input(type='password', name='password', placeholder='Password')
                br
                button#login-button.action-button(type='submit') Login

                hr
                p
                  | Need an account?
                  a#register-link(href='/register') Register
                a#facebook-login(href='/auth/facebook')
                  img(src='/img/facebook.png')
                a#twitter-login(href='/auth/twitter')
                  img(src='/img/twitter.png')
