#image-container
  .inner-container
    form#upload-image(action='/boards/#{boardId}/processPhoto', method='POST', ectype='multipart/form-data')
      h3 Upload Image
      input.form-control#choose-upload-image(type='file', name='photo')
      
