extends ../shared/template

block content
  #board(data-id=boardId)
    .draft-container.draggable
      textarea
    #random-words
      #nouns-container
      #verbs-container
      #adjectives-container
      #adverbs-container
      #auxiliaries-container
      #prepositions-container
      #pronouns-container
  nav#bt-menu.bt-menu
    a.bt-menu-trigger(href='#')
      span Menu
    ul
      li
        a.bt-icon.icon-zoom#notes(href='#') Zoom
      li
        a.bt-icon.icon-refresh#images(href='#') Refresh
      li
        a.bt-icon.icon-lock#audio(href='#') Lock
      li
        a.bt-icon.icon-speaker#random-poetry(href='#') Sound
      li
        a.bt-icon.icon-star#draft(href='#') Favorite

block scripts
  script(src='/js/es6/compiled/board-show.js')
  script(src='/js/es6/compiled/upload.js')
  script(src='/animated-menu/js/borderMenu.js')
  script(src='/animated-menu/js/classie.js')
  script(src='http://malsup.github.com/jquery.form.js')


form(method='post', action='/users/photos', enctype='multipart/form-data')
        input.form-control(type='file', multiple='true', name='photos')
        button.update-photos Add Photos
